$AlmostGray: #666CA3;
$NavyBlue: #13183F;
$LightGray: #83869A;
$DarkPink:  #F74780;
$Pink: #FFA7C3;;
$White: #ffffff;
$PinkGradient: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$BlueGradient: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
